body {
    background-image: url("https://pngimg.com/uploads/star/star_PNG76911.png");
    background-color: #212121;
    font-family: 'Courier New', monospace;
    text-align: center;
    padding: 70px;
}

.img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 25px;
}

.song {
    color:#b3b3b3;
}