<!DOCTYPE html>

<html>
<head>
    <link rel="stylesheet" href="{{ url_for( 'static', filename='style.css' ) }}" type="text/css" />
    <title>Music Discovery</title>
</head>
<body>
        <div class='song'>
            <h2>{{all_data[0]}}</h2>
            <h3>{{all_data[1]}}</h3>
        <div class='img'><img src={{all_data[2]}} /></div>
        <audio controls>
          <source src={{all_data[3]}}>
          Preview does not exist.
        </audio>
        <br><br>
        <div class='link'>
        <a href={{lyrics}}>Lyrics</a></div>
        </div>

</body>

</html>